*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}
.menu-area{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(119, 0, 0);
}
.banner-section{
    background-color: black;
}