*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}
.home__menu-area,
.home__product-section,
.home__adress-section,
.home__instagram-area{
    width: 100%;
    display: flex;
    justify-content: center;
}

.home__menu-area,
.home__footer{
    background-color: rgb(119, 0, 0);
}
.home__banner-section{
    background-color: #a9a9a9;
    padding-bottom: 30px;
}
.home__product-section{
    padding-bottom: 30px;
}

.home__product-section,
.home__adress-section,
.home__instagram-area{
    margin-top: 60px;
}
